<a href="https://colab.research.google.com/github/Daivar/PP6_Adult_dataset/blob/main/Adult_dataset_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from fastai.tabular import *

!rm -rf ./sample_data/ ./data/

path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

Downloading http://files.fast.ai/data/examples/adult_sample.tgz

In [2]:
df

       age          workclass  fnlwgt  ... hours-per-week  native-country salary
0       49            Private  101320  ...             40   United-States  >=50k
1       44            Private  236746  ...             45   United-States  >=50k
2       38            Private   96185  ...             32   United-States   <50k
3       38       Self-emp-inc  112847  ...             40   United-States  >=50k
4       42   Self-emp-not-inc   82297  ...             50   United-States   <50k
...    ...                ...     ...  ...            ...             ...    ...
32556   36            Private  297449  ...             40   United-States  >=50k
32557   23                  ?  123983  ...             40   United-States   <50k
32558   53            Private  157069  ...             40   United-States  >=50k
32559   32          Local-gov  217296  ...             22   United-States   <50k
32560   26            Private  182308  ...             40   United-States   <50k

[32561 rows x 15 columns]

In [3]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
education-num     float64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
salary             object
dtype: object

In [4]:
dep_var = 'salary'

cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify]

In [5]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [6]:
test[0]

age                               45
workclass                    Private
fnlwgt                         96975
education               Some-college
education-num                    NaN
marital-status              Divorced
occupation         Handlers-cleaners
relationship               Unmarried
race                           White
sex                           Female
capital-gain                       0
capital-loss                       0
hours-per-week                    40
native-country         United-States
salary                          <50k
Name: 800, dtype: object

In [8]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [9]:
data.show_batch(rows=10)

In [10]:
learn = tabular_learner(data, emb_drop=0.04, layers=[5, 5, 5], metrics=accuracy)

In [11]:
learn.fit(5, 1e-2)

In [12]:
learn.model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(10, 6)
    (1): Embedding(17, 8)
    (2): Embedding(8, 5)
    (3): Embedding(16, 8)
    (4): Embedding(7, 5)
    (5): Embedding(6, 4)
    (6): Embedding(3, 3)
  )
  (emb_drop): Dropout(p=0.04, inplace=False)
  (bn_cont): BatchNorm1d(3, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=42, out_features=5, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Linear(in_features=5, out_features=5, bias=True)
    (4): ReLU(inplace=True)
    (5): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (6): Linear(in_features=5, out_features=5, bias=True)
    (7): ReLU(inplace=True)
    (8): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (9): Linear(in_features=5, out_features=2, bias=True)
  )
)

In [14]:
learn.lr_find()

LR Finder is complete, type {learner_name}.recorder.plot() to see the graph.

In [16]:
learn.fit_one_cycle(10)

In [17]:
learn.fit(100)

In [42]:
learn.show_results()

In [38]:
clas, probs

(tensor(0), tensor([0.5279, 0.4721]))