<a href="https://colab.research.google.com/github/Daivar/PP6_Adult_dataset/blob/main/Keras_adult_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
np.random.seed(7)

In [2]:
import pandas as pd

columns = ["Age", "WorkClass", "fnlwgt", "Education", "EducationNum",
        "MaritalStatus", "Occupation", "Relationship", "Race", "Gender",
        "CapitalGain", "CapitalLoss", "HoursPerWeek", "NativeCountry", "Income"]

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
                    header=None,
                    names=columns)

In [3]:
data.head()

   Age          WorkClass  fnlwgt  ... HoursPerWeek   NativeCountry  Income
0   39          State-gov   77516  ...           40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...           13   United-States   <=50K
2   38            Private  215646  ...           40   United-States   <=50K
3   53            Private  234721  ...           40   United-States   <=50K
4   28            Private  338409  ...           40            Cuba   <=50K

[5 rows x 15 columns]

In [4]:
data.describe(include='all').T

               count unique                  top  ...     50%     75%          max
Age            32561    NaN                  NaN  ...      37      48           90
WorkClass      32561      9              Private  ...     NaN     NaN          NaN
fnlwgt         32561    NaN                  NaN  ...  178356  237051  1.48470e+06
Education      32561     16              HS-grad  ...     NaN     NaN          NaN
EducationNum   32561    NaN                  NaN  ...      10      12           16
MaritalStatus  32561      7   Married-civ-spouse  ...     NaN     NaN          NaN
Occupation     32561     15       Prof-specialty  ...     NaN     NaN          NaN
Relationship   32561      6              Husband  ...     NaN     NaN          NaN
Race           32561      5                White  ...     NaN     NaN          NaN
Gender         32561      2                 Male  ...     NaN     NaN          NaN
CapitalGain    32561    NaN                  NaN  ...       0       0        99999
CapitalLoss    32561    NaN                  NaN  ...       0       0         4356
HoursPerWeek   32561    NaN                  NaN  ...      40      45           99
NativeCountry  32561     42        United-States  ...     NaN     NaN          NaN
Income         32561      2                <=50K  ...     NaN     NaN          NaN

[15 rows x 11 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            32561 non-null  int64
 1   WorkClass      32561 non-null  object
 2   fnlwgt         32561 non-null  int64
 3   Education      32561 non-null  object
 4   EducationNum   32561 non-null  int64
 5   MaritalStatus  32561 non-null  object
 6   Occupation     32561 non-null  object
 7   Relationship   32561 non-null  object
 8   Race           32561 non-null  object
 9   Gender         32561 non-null  object
 10  CapitalGain    32561 non-null  int64
 11  CapitalLoss    32561 non-null  int64
 12  HoursPerWeek   32561 non-null  int64
 13  NativeCountry  32561 non-null  object
 14  Income         32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
train = data[:30561]
test = data[30561:]

In [7]:
cat_feats = [column for column in data.columns if data[column].dtypes=='object']
non_cat_feats = [column for column in data.columns if data[column].dtypes!='object']

In [8]:
from sklearn.preprocessing import LabelEncoder

train[cat_feats] = train[cat_feats].apply(LabelEncoder().fit_transform)
test[cat_feats] = test[cat_feats].apply(LabelEncoder().fit_transform)

In [9]:
X_train = train.iloc[:,0:-1]
y_train = train['Income']

X_test = test.iloc[:,0:-1]
y_test = test['Income']

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((30561, 14), (30561,), (2000, 14), (2000,))

In [10]:
X_train = train.iloc[:,0:-1]
y_train = train['Income']

X_test = test.iloc[:,0:-1]
y_test = test['Income']

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((30561, 14), (30561,), (2000, 14), (2000,))

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaled_train = StandardScaler().fit_transform(X_train[non_cat_feats].values)
scaled_test = StandardScaler().fit_transform(X_test[non_cat_feats].values)

In [12]:
X_train[non_cat_feats] = scaled_train
X_test[non_cat_feats] = scaled_test

In [13]:
from tensorflow import keras

In [14]:
model = keras.models.Sequential()
model.add(keras.layers.Dropout(rate=0.2, input_shape=X_train.shape[1:]))
for _ in range(2):
        model.add(keras.layers.Dense(units=64, activation='relu'))
        model.add(keras.layers.Dropout(rate=0.2))
model.add(keras.layers.Dense(units=1, activation='sigmoid'))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dropout (Dropout)           (None, 14)                0

 dense (Dense)               (None, 64)                960

 dropout_1 (Dropout)         (None, 64)                0

 dense_1 (Dense)             (None, 64)                4160

 dropout_2 (Dropout)         (None, 64)                0

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 5,185
Trainable params: 5,185
Non-trainable params: 0
_________________________________________________________________

In [16]:
optimizer = keras.optimizers.Adam(lr=0.001)
model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['acc'])
es_cb = keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)

In [18]:
import time

start = time.time()
history = model.fit(X_train, y_train,
         validation_data=(X_test, y_test),
         batch_size=64,
         epochs=100,
         callbacks=[es_cb])
print('\nIt took {} seconds'.format(time.time()-start))

Epoch 1/100
478/478 [==============================] - 2s 5ms/step - loss: 0.3633 - acc: 0.8299 - val_loss: 0.3532 - val_acc: 0.8330
Epoch 2/100
478/478 [==============================] - 1s 3ms/step - loss: 0.3643 - acc: 0.8289 - val_loss: 0.3497 - val_acc: 0.8300
Epoch 3/100
478/478 [==============================] - 2s 4ms/step - loss: 0.3651 - acc: 0.8298 - val_loss: 0.3630 - val_acc: 0.8400
Epoch 4/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3649 - acc: 0.8288 - val_loss: 0.3575 - val_acc: 0.8305
Epoch 5/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3644 - acc: 0.8287 - val_loss: 0.3479 - val_acc: 0.8340
Epoch 6/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3652 - acc: 0.8280 - val_loss: 0.3538 - val_acc: 0.8330
Epoch 7/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3618 - acc: 0.8305 - val_loss: 0.3442 - val_acc: 0.8340
Epoch 8/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3637 - acc: 0.8309 - val_loss: 0.3506 - val_acc: 0.8360
Epoch 9/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3605 - acc: 0.8306 - val_loss: 0.3464 - val_acc: 0.8410
Epoch 10/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3641 - acc: 0.8298 - val_loss: 0.3492 - val_acc: 0.8340
Epoch 11/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3586 - acc: 0.8311 - val_loss: 0.3450 - val_acc: 0.8350
Epoch 12/100
478/478 [==============================] - 1s 2ms/step - loss: 0.3616 - acc: 0.8295 - val_loss: 0.3496 - val_acc: 0.8360

It took 15.290914535522461 seconds